body {
    font-family: "Open Sans", sans-serif;
  }
  
  #title {
    background-color: #000;
    color: #fff;
  }
  
  h1 {
    font-size: 3.5rem;
    font-family: "Montserrat", sans-serif;
  }
  
  .lh > h1 {
    line-height: 1.5;
    font-weight: bolder;
  }
  
  .container-fluid {
    padding: 3% 12% 0%;
  }
  #title .carousel-item{
    padding: 3% 12% 0%;

  }

  /*header*/

  /* #sign-up-btn{
      position: absolute;
      right: 0px;
      left: 0px;
      top: 0px;
      display: inline;
      background-color: grey;
  } */
  
  /* Navigation Bar */
  
  .navbar {
    padding: 0 0 4.5rem;
  }
  
  .container {
    padding-left: 0;
  }
  .nav-link {
    font-size: 1.3rem;
    margin: 0 1rem;
  }
  
  .navbar-brand {
    font-family: "Langar", cursive;
    font-size: 2.5rem;
  }
  
  /* Download Buttons */
  
  .dnld-btn {
    margin: 5% 3% 5% 0;
  }
  
  i {
      padding: 10px;
  }
  /* Title Image  */
  
  .title-img {
    position: relative;
    margin-left: 3rem;
    height: 70%;
    width: 70%;
  }
  
  /* features */
  #features {
    position: relative;
    background-color: #fff;
    padding: 7% 15%;
    z-index: 1; 
  }
  
  #features .col-lg-6 {
    margin: 4rem 0;
  }
  #features h3 {
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .icon {
    margin-bottom: 1rem;
    color: #000;
  }
  #features p {
    color: #8f8f8f;
    font-size: 1.2rem;
  }
  .icon:hover {
    color: grey;
  }
  
  /* Laptops  */
  
  #Laptops {
    background-color: #000;
    color: white;
    
  }
  #Laptops .carousel-item{
     padding: 5% 30% 7% 30%;
  }
  #Laptops h2 {
    font-size: 4rem;
  }
  .carousel-item img {
    position: relative;
    max-width: 100%;
    border-radius: 10%;
    margin-bottom: 4% ;
  }

.carousel-item a {
    text-decoration: none;
    color: white;
}
.carousel-item a :hover{
    color: grey;
}

  /* Call to Action  */
  
  #cta{
    /* margin: 15%; */
    background-color: black;
    padding: 40px;
  }
  #cta h3 {
    font-size: 2rem;
    margin-top: 20px;
    color: Grey;
  }
  .ct-btn{
    margin: 50px;
  }
  
  /* Contact Us */
 #ContactUs{
     background-color: white ;
     color: black;
     margin: 30px;
 }
 #ContactUs i{
    color: black;
    margin: 10px;
 }
  #ContactUs .platforms a :hover{
   color: blue;
 }
 .platforms{
   margin: 5%;
 }
 .platforms > h1{
   line-height: 2;
 }
 .e-mail > h1{
  line-height: 2;
  margin-bottom: 10%;
 }
 #ContactUs a :hover { 
   color: orange;
 }
 .Or{
   margin: 3%;
 }

 #footer{
   margin-top: 2%;
 }
  
  /* media queries */
  
  @media (max-width: 1140px) {
  
    #title{
      text-align: center;
    }
    .title-img {
       position: static;
      /* transform: rotate(0); */ 
      align-self: center;
    }
  }

